@model IEnumerable<InsuranceMVCApp.Models.AllDetails>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Back to all Partners", "ViewPartners")
</p>
<table class="table">
    <tr>
        <th>
            Full Name
        </th>

        <th>
            Address
        </th>
        <th>
            Partner Number
        </th>
        <th>
            Croatian Pin
        </th>
        <th>
            Partner Type Id
        </th>
        <th>
            Created At Utc
        </th>
        <th>
            Created By
        </th>
        <th>
            Is Foreign
        </th>
        <th>
            External Code
        </th>
        <th>
            Gender
        </th>
        <th>
            Policy Number
        </th>
        <th>
            Policy Amount
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CroatianPIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAtUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateByUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsForeign)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExternalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyAmount)
            </td>
        </tr>
    }

</table>
